body {
font-family: Arial;
margin: 0;
background: #f4f4f4;
}

header {
background: #333;
color: white;
padding: 10px;
text-align: center;
}

nav a {
color: white;
margin: 10px;
text-decoration: none;
}

.hero {
text-align: center;
padding: 50px;
background: linear-gradient(to right, #4facfe, #00f2fe);
color: white;
}
